<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <!-- Required when a complication slot receives data from an external
         complication provider, such as the optional Energy Score bridge. -->
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA" />

    <!-- hasCode MUST be false: Watch Face Format bundles carry resources only. -->
    <application
        android:hasCode="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/watch_face_name">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <property
            android:name="com.google.wear.watchface.format.version"
            android:value="2" />
    </application>
</manifest>
